@import url('https://fonts.googleapis.com/css2?family=Carter+One&display=swap');
body{
    background-color: #ffe3cf;
}
h1{
    font-family: 'Carter One', cursive;
    font-size: 200px;
    color: white;
}